@model TravelAgency.Model.City
@{
    ViewBag.Title = string.Format("{0}", Model.Name);
}
@if (Model == null)
{
    <p>City not found</p>
}
else
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Population</div>
                            <div>Population</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cutlery  fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Restaurants.Count</div>
                            <div>Restaurant</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bed fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Hotels.Count</div>
                            <div>Hotels</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.TouristicSites.Count</div>
                            <div>Touristic Sites</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hotels
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.Hotels)
                    {
                        <a href="@Url.Action("Show","Hotel",new {id=item.Id })" class="list-group-item">
                            <i class="fa fa-info fa-fw"></i> @item.Name
                            <span class="pull-right text-muted small">
                                <em>@item.ServiceQuality Stars</em>
                            </span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Restaurants
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.Restaurants)
                    {
                        <a href="@Url.Action("Show","Restaurant",new {id=item.Id })" class="list-group-item">
                            <i class="fa fa-info fa-fw"></i> @item.Name
                            <span class="pull-right text-muted small">
                                <em>@item.Specialties</em>
                            </span>
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>
}


