@model TravelAgency.Model.Province
@{
    ViewBag.Title = string.Format("Province : {0}", Model.Name);
}

@if (Model == null)
{
    <p>Not Found</p>
}
else
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.CalculatedPopulation</div>
                            <div>Population</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-flag fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.Cities.Count</div>
                            <div>Cities</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-phone-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.TelCode</div>
                            <div>Phone Code</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-map-marker fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="large" style="margin-bottom:35px;">@Model.Region</div>
                            <div>Region</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Cities Population
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> List of Cities 
                </div>
                <div class="panel-body">
                    <table class="table table-no-border m-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Population</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach (var city in Model.Cities)
                            {
                                <tr>
                                    <td>@city.Name</td>
                                    <td>@city.Population</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            Morris.Donut({
                element: 'morris-donut-chart',
                data: [
                    @foreach(var city in Model.Cities)
                    {
                       @( Html.Raw(string.Format("{{ label: \'{0}\', value: {1}, click: '{2}'}},", city.Name, city.Population,Url.Action("Show","City",new { id=city.Id }))));
                    }
                ],
                resize: true
            }).on('click', function (i, row) {
                console.log(i, row);
                document.location = $(row).attr("click");
            });;
        </script>
    }
}

